body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.profile-card{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0,0,0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  padding: 20px;
}
.profile-img img{
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 150px;
}
.data-info{
  padding: 20px;
}
.fullname{
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 15px;
}
.short-bio{
  font-size: 0.9rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 15px;
}
.current-location{
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 15px;
}
.email-address{
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}
.email-address:hover{
  text-decoration: underline;
}
.social-links a{
font-size: 0.9rem;
margin: 0 8px;
color: #007bff;
text-decoration: underline;
}
.social-links:hover{
  text-decoration: underline;
}
.current-time{
  font-size: 0.9rem;
  color: #555;
  margin-top: 15px;
}